##############
# Ignore All #
##############
*

#############
# Exception #
#############

# Configuration
!.config/

# Shell
!.aliases
!.profile

# BASH
!.bash_aliases
!.bash_profile
!.bash_prompt
!.bash_prompt_root
!.bashrc

# Z Shell
!.zprofile
!.zprompt
!.zsh_prompt
!.zsh/*
!.zshenv
!.zshrc

# Miscellaneous
!.gitignore
!.netrc
!.npm_completion
!.npmrc
!.pypirc
!.vimrc
!LICENSE
!README.md
