##############
# Ignore All #
##############

*

###########
# Include #
###########

# Main
!.gitignore
!LICENSE
!README.md

# Base
!unix/base/.config/pip/pip.conf
!unix/base/.bash_aliases
!unix/base/.bash_profile
!unix/base/.bash_prompt
!unix/base/.bashrc
!unix/base/.gitconfig
!unix/base/.netrc
!unix/base/.vimrc

# etc
# nginx
!unix/etc/nginx/nginx.conf
!unix/etc/nginx/conf.d/localhost-lcl.conf
!unix/etc/nginx/sites-available/localhost-lcl
# nginx-default
!unix/etc/nginx-default/fastcgi.conf
!unix/etc/nginx-default/fastcgi_params
!unix/etc/nginx-default/koi-utf
!unix/etc/nginx-default/koi-win
!unix/etc/nginx-default/mime.types
!unix/etc/nginx-default/nginx.conf
!unix/etc/nginx-default/proxy_params
!unix/etc/nginx-default/scgi_params
!unix/etc/nginx-default/uwsgi_params
!unix/etc/nginx-default/win-utf
!unix/etc/nginx-default/conf.d/default.conf
!unix/etc/nginx-default/sites-available/default
!unix/etc/nginx-default/snippets/fastcgi-php.conf
!unix/etc/nginx-default/snippets/snakeoil.conf
# ssl
!unix/etc/ssl/openssl.cnf

# Base pip
!base/.config/pip/pip.conf

# Miscellaneous
!miscellaneous/

# MPlayer
!mplayer/

# Visual Studio Code
!visual-studio-code/settings.json

# Windows
!windows/base/WindowsPowerShell/Profile.ps1

#########
# macOS #
#########

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###########
# Windows #
###########

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk